.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color:#008ba3;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.header {
  background-color: #E1E2E1;
  position: absolute;
  margin: 10px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #008ba3 !important;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: wheat;
}

/*navbar style*/
.navbar {
  background-color: rgb(90, 147, 161);
  padding: 30px;
}

.navbar-light .navbar-toggler {
  border-color: #008ba3;
}

.dropdown button{
  background-color: #2b5a3e;
  border-color: #363636;
}


/* Background Image */
body {
  background: url(/client/public/assets/house.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*Footer: NOTE code below will cover the middle of the page if less than full page*/
.footer {
  bottom: 0;
  width: 100%;
}

.centered-links {
  background-color: #E1E2E1;
}

.icons {
  font-size: 48px;
  color: #9a0007;
}