.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color:#cc0d17;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #cc0d17 !important;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

/*navbar style*/
.navbar {
  background-color: #363636;
  padding: 30px;
}

.navbar-light .navbar-toggler {
  border-color: #008ba3;
}

/* .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(79, 154, 148, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

.dropdown button{
  background-color: #363636;
  border-color: #363636;
}


/* Background Image */
body {
  background: url(/assets/images/homes.png) no-repeat center center fixed;
  background-size: cover;
}

/*Footer: NOTE code below will cover the middle of the page if less than full page*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.centered-links {
  background-color: #E1E2E1;
}

.icons {
  font-size: 48px;
  color: #9a0007;
}